.git
.gitattributes
.gitignore
.env
.vscode
.idea
node_modules
vendor
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/debugbar/*
!storage/app/uploads/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
tests
docker
docs
*.md
.dockerignore
Dockerfile
docker-compose.yml
webpack.mix.js
package-lock.json
composer.lock
phpunit.xml
.editorconfig
.styleci.yml
