APP_URL=https://your-domain.example
APP_KEY=

DB_DATABASE=lsky
DB_USERNAME=lsky
DB_PASSWORD=change-this-database-password
MYSQL_ROOT_PASSWORD=change-this-root-password

HTTP_PORT=8080

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync
